<ng-include src=" ' /security/top_logo_template.html ' "></ng-include>	
<div class="container">
		<div  class="row central" style="padding-top: 50px; padding-bottom: 40px;">

			<div class=" col-md-4 col-md-push-5 ">
	
					<form  name="login_form" class="form-horizontal" role="form" ng-submit="myFunc(login_form)" novalidate >
						
						 <div style="margin-bottom: 25px" class="input-group">
							<span class="input-group-addon"><i class="fa  fa-envelope fa-lg fa-fw"></i></span>
							<input  name="name" ng-model="name" class="form-control" placeholder="Email" required >
						 </div>


						
						<div class=" alert alert-danger " ng-show="error">{{error}}</div>
						<div class=" alert alert-success " ng-show="success">{{success}}</div>
						<div class="row" style="padding-bottom: 2ex" >
							<div class="col-md-6" ng-show="!done">                               
								<button type="submit" class="btn  btn-primary btn-block">Reset Password</button>
							</div>
							<div class="col-md-6">
								<button  ng-click="to_login()" class="btn  btn-info btn-block">Go to log in</button>
							</div>
	                    </div> 

					
					</form>

			
			</div>	
			<ng-include src=" ' /security/body_logos_template.html ' "></ng-include>
		</div>
</div>
			